$font-stack: "Poppins", sans-serif;
$primary-color: #5e5656;

$bg-nav: #f0f0f0a2;

$color-bozze: #a0d468;
$color-more-button: #5c9cff;

$off-color: #f6bb43;
$prc-color: #5c9dff;
$orc-color: #585858;
$com-color: #be5cff;

$color-delivery: #da4553;

body {
  font-family: $font-stack;
  color: $primary-color;
}

small {
  // font-weight: bold;

  color: $primary-color;
}

.line-through {
  text-decoration: line-through;
}

.more-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: $color-more-button;
  display: none;
  padding: 0.2rem 0;
  font-weight: 700;
}

article {
  display: grid;
  grid-template-columns: min-content auto auto 1fr;
  grid-template-rows: 0.2fr 0.7fr 2fr;
  grid-template-areas:
    "nav nav nav nav"
    "icon title delivery price"
    "icon info info price";

  grid-gap: 9px 30px;
  border-bottom: 1px solid rgb(223, 223, 223);
  margin: 0.8rem 1rem;
  padding: 0.3rem;
}

.nav {
  grid-area: nav;
  display: flex;
  padding: 0.3rem 0.5rem;
  padding-left: 45px;
  border-radius: 10px;
  column-gap: 45px;
  background-color: $bg-nav;

  .nav-item {
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    font-size: 12px;
  }

  small {
    font-size: 12px;
    font-weight: 400;
  }
}

.icon {
  grid-area: icon;
  display: flex;
  align-items: flex-start;
  justify-items: center;

  span {
    border-radius: 10px;
    font-weight: 800;
    padding: 1rem 0.8rem;
  }

  @mixin icon-type($color: DarkGray) {
    color: $color;
    border: 4px solid $color;
  }

  .i-off {
    @include icon-type($off-color);
  }

  .i-orc {
    @include icon-type($orc-color);
  }

  .i-prc {
    @include icon-type($prc-color);
  }

  .i-com {
    @include icon-type($com-color);
  }
}

.title {
  grid-area: title;
  display: flex;
  column-gap: 30px;
  align-items: center;

  .id {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 800;

    .code {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .id-vl {
    align-self: center;
    margin-left: 12px;
    margin-right: 15px;
    height: 21px;
    border-left: 1px solid $primary-color;
  }
  .bozza {
    background-color: $color-bozze;
    color: white;
    padding: 0.1rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .status {
    align-self: center;
    font-size: 12px;
  }
}

.delivery {
  grid-area: delivery;
  align-self: center;
  color: $color-delivery;
  font-size: 12px;
}

.price {
  grid-area: price;
  display: flex;
  text-align: right;
  flex-direction: column;

  .price-item-1 {
    flex: 1;
    font-weight: normal;
    color: #525252;
    font-size: 15px;

    small {
      font-size: 11px;
    }
  }

  .price-item-2 {
    flex: 1;
    font-size: 22px;
    color: black;
    font-weight: 500;

    small {
      font-weight: 400;
      color: #525252;
      font-size: 14px;
    }
  }
}

.info {
  grid-area: info;

  .client {
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    color: black;

    span {
      font-size: 12px;
      font-style: italic;
      font-weight: 100;
      color: #525252;
    }
  }

  h4 {
    font-weight: lighter;
    color: black;
    font-size: 1.1rem;
  }
}

.orders {
  font-size: 0.8rem;
  margin-top: 9px;

  p {
    font-size: 13px;
    margin: 0px;

    .bold {
      font-style: italic;
      font-weight: bold;
      color: #525252;
    }
  }
}

@media only screen and (max-width: 660px) {
  article {
    grid-template-columns: 0.4fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "nav nav"
      "icon title"
      "icon title"
      "delivery delivery"
      "info info"
      "price price";
    grid-gap: 0.4rem;
  }

  .title {
    display: contents;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav {
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding-left: 0px;
  }

  .icon {
    align-self: center;
    padding: 0px;
  }

  .price {
    flex-direction: row;
    align-items: flex-end;
  }

  .price-item-1 {
    text-align: left;
    padding: 0.5rem;
  }

  .price-item-2 {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .more-button {
    display: block;
  }
}
